@tailwind base;
@tailwind components;
@tailwind utilities;

.geeks {
  width: 100%;
  transition: 0.7s all ease-in-out;
}

.geeks:hover {
  transform: scale(1.1);
  cursor: pointer;
  height: 200px;
}

.secondgeeksimg {
  width: 100%;
  transition: 0.5s all ease-in-out;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  height: 300px;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  height: 500px;
}
